@import "tailwindcss";


@theme {
  --color-ui-bg: var(--bg);
  --color-ui-light-bg: var(--light-bg);
  --color-ui-text: var(--text);
  --color-ui-btn: var(--btn);
  --color-ui-btn-warn: var(--btn-warn);
  --color-ui-btn-text: var(--btn-text);
  --color-ui-signup-btn: var(--signup-btn);
}

:root{
  --btn-warn: #dc2626;
  --signup-btn: #2563eb;
}

[data-theme="dark"] {
  --bg: #0f172a;
  --light-bg: #1e293b;
  --text: #f8fafc;
  --btn: #2563eb;
  --btn-text: #f8fafc;
}

[data-theme="light"] {
  --bg: #f8fafc;
  --light-bg: #f1f5f9;
  --text: #0f172a;
  --btn: #0d132d;
  --btn-text: #f8fafc ;
}
